

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='jquery/jquery-3.6.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</head>
<body>
    <div class="col-lg-6">
        <h5 class="card-title text-center mb-4">Register</h5>
        <form method="post" action="#">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="InputEmail" required>
            </div>
            <br>
            <div class="mb-3">
                <label for="password" class="form-label">Verify Code</label>
                <input type="text" class="form-control" name="captcha" id="captcha" required>
                <button id="captcha-btn">Get Code</button>
            </div>
            <br>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>
            <br>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <br>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password_confirm" id="password_confirm" required>
            </div>
            <br>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Register Now!">
            </div>
        </form>
    </div>
</body>
</html>